/* ===============================
        BUTTONS
   =============================== */
.btn-gold {
  background: #ffd700;
  color: #000;
  font-weight: 600;
  border-radius: 999px;
  padding: 0.6rem 2rem;
  border: none;
  transition: 0.25s ease;
}

.btn-gold:hover {
  filter: brightness(0.9);
  transform: translateY(-2px);
}

.btn-outline-gold {
  border-radius: 999px;
  border: 1px solid #ffd700;
  color: #ffd700;
  padding: 0.6rem 2rem;
}

.btn-outline-gold:hover {
  background: #ffd700;
  color: #000;
}
