/* ===============================
        FOOTER
=============================== */
.footer {
  background:rgba(20,20,20,0.55);
  backdrop-filter:blur(10px);
  padding:1rem;
  text-align:center;
  border-top:1px solid rgba(255,215,0,0.16);
  color:#ffd700;
}
