{% extends "base.html" %}
{% block title %}All Services - Golden Touch{% endblock %}

{% block content %}
<div class="container py-5 mt-5">

  <h2 class="section-title mb-4">All Services</h2>

  <div class="services-row">
    {% for service in services %}
      <div class="service-card no-click">
        <img src="{{ url_for('static', filename=service.image_url) }}" class="service-img">
        
        <div class="service-title-box text-center">
          <p class="service-title">{{ service.name }}</p>
        </div>

        <!-- Make it like a button -->
        <button class="btn btn-gold w-100 mt-2" disabled>
          Available
        </button>
      </div>
    {% endfor %}
  </div>

</div>
{% endblock %}
